@import "@/styles/_breakpoints.scss";

.card-reason {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;

  @media (min-width: $screen-xsm) {
    gap: 0;
  }

  @media (min-width: $screen-sm) {
    flex-direction: row;
    gap: 30px;
  }

  @media (min-width: $screen-md) {
    width: 478px;

    &#Swiss, &#Price {
      grid-column: 1;
    }

    &#Deposits {
      grid-row: 1;
      grid-column: 2;
    }

    &#Expertise {
      grid-row: 2;
      grid-column: 2;
    }

    &#Security {
      grid-column: 2;
    }
  }

  @media (min-width: $screen-lg) {
    &#Swiss {
      grid-column: 1;
    }

    &#Price {
      grid-row: 1;
      grid-column: 2;
    }

    &#Deposits {
      grid-row: 2;
      grid-column: 2;
    }

    &#Expertise {
      grid-row: 3;
      grid-column: 2;
    }

    &#Security {
      grid-column: 1;
    }

    &#Team {
      grid-column: 2;
      grid-row: 3;
      margin-top: 110px;
    }
  }

  @media (min-width: $screen-xl) {
    width: 550px;
  }

  &__logo{
    width: 48px;
    height: 48px;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  &__text {
    color: white;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    white-space: pre-wrap;

    @media (min-width: $screen-xsm) {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
