version: '3.5'
services:
  project:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    environment:
      - HOST=0.0.0.0
    command: sh -c "http-server -p 3000"
    restart: unless-stopped