@import "@/styles/_breakpoints.scss";
@import "@/styles/colors.scss";

.the-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5 !important;
  padding: 30px 0 22px 0;

  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @media (min-width: $screen-xsm) {
    padding: 28px 0 20px 0;
  }

  @media (min-width: $screen-sm) {
    padding: 32px 0 24px 0;
  }

  @media (min-width: $screen-md) {
    padding: 44px 0;
  }

  @media (min-width: $screen-lg) {
    padding: 45px 0;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5 !important;
    width: 290px;

    @media (min-width: $screen-xsm) {
      width: 510px;
    }

    @media (min-width: $screen-sm) {
      width: 688px;
    }

    @media (min-width: $screen-md) {
      width: 932px;
    }

    @media (min-width: $screen-lg) {
      width: 1290px;
    }
  }

  &__logo {
    &-img {
      width: 250px;
    }

    @media (min-width: $screen-sm) {
      width: 208px;
      height: 30px;
    }

    &_img {
      width: 100%;
      height: 100%;
      color: white;
    }
  }

  &--default {
    background: white;
    position: relative;

    .the-header__logo_img {
      color: black;
    }

    .menu__link {
      color: #15162D !important;
    }

    .menu__icon_light {
      display: none !important
    }

    .menu__icon_dark {
      display: block !important;
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  &__body {
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    gap: 26px;
    align-items: center;

    @media (min-width: $screen-sm) {
      gap: 30px;
    }

    @media (min-width: $screen-md) {
      gap: 62px;
    }
  }

  &__link {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #15162D !important;

    @media (min-width: $screen-sm) {
      font-size: 20px;
      line-height: 28px;
      color: #fff !important;
    }

    &--bold {
      font-weight: 700 !important;
    }
  }

  &__icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
    color: #F4F7F9;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}

.scrolled {
  position: fixed !important;
  background: white !important;
  transition: all 0.3s ease 0s;
  -webkit-animation: fade 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both !important;
  animation: fade 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both !important;

  .menu__link {
    color: #15162D !important;
    transition: all 0.3s ease 0s !important;
  }

  .the-header__logo_img {
    color: black;
    transition: all 0.3s ease 0s !important;
  }

  .menu__icon {
    color: black;
    transition: all 0.3s ease 0s !important;
  }
}