.squiggle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: none;
  stroke-width: 1px;
}

.squiggle2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill: none;
  stroke-width: 1px;
}