//@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,800');
//@import url('https://fonts.googleapis.com/css?family=Raleway:regular');
//@import url('https://fonts.googleapis.com/css?family=Anton:regular');
//@import url('https://fonts.googleapis.com/css?family=Inter:300,regular,500,700');
//@import url('https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap');
@import "@/styles/colors.scss";
@import "@/styles/null.scss";
@import "@/styles/variables.scss";
@import "@/styles/_breakpoints.scss";

html {
  font-size: 16px;
  color: $grey;
  overflow-y: scroll;
  scroll-behavior: smooth;

  .v-application {
    font-family: $fontFamily, sans-serif;
  }
}

body {
  background: $bodybgColor;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;

  > main {
    flex: 1 1 auto;
    position: relative;
  }

  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @media (min-width: $screen-xsm) {
    padding: 0 33px;
  }

  @media (min-width: $screen-sm) {
    padding: 0 39px;
  }

  @media (min-width: $screen-md) {
    padding: 0 31px;
  }

  @media (min-width: $screen-lg) {
    padding: 0 15px;
  }

  @media (min-width: $screen-xl) {
    max-width: 1320px;
  }
}

.general-title {
  color: black;
  // font-family: $fontFamily, sans-serif;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;

  @media (min-width: $screen-xsm) {
    font-size: 30px;
  }
  @media (min-width: $screen-sm) {
    font-size: 50px;
  }
}

.v-application ul, .v-application ol {
  padding-left: 0 !important;
}

//.v-dialog__menu {
//  max-width: 217px !important;
//  top: 0 !important;
//  right: 0 !important;
//  background: none;
//}
//
//.v-dialog {
//  top: 64px !important;
//  right: 15px !important;
//  position: absolute;
//  margin: 0 !important;
//  box-shadow: none !important;
//  max-height: 100% !important;
//}