.cubes-animation {
  &__animation {
    &_started {
      .squiggle_anim3 {
        animation: draw3 2s linear forwards 2.5s;
      }

      @keyframes draw3 {
        from {
          stroke-dashoffset: 1400;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}




